body {
    font-family: "Roboto", Arial, sans-serif;
    margin: 20px;
}

h3 {
    color: red;
}

.container {
    color: violet;
    border: 2px dashed aqua;
    border-radius: 10px;

    padding: 20px;
    margin-top: 20px;
}

.container-bg {
    background-color: lightblue;
}

.my-font {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: black;
}

#container-id {
    color: green;
    margin: 20px;
    font-weight: bold;
}

table {
    border-collapse: collapse;
    width: 400px;
}

table,
th,
td {
    border: 1px solid black;
}

th {
    background-color: lightgray;
    padding: 10px;
}

td {
    padding: 10px;
}

img {
    display: block;
    margin: auto;
}



.profile-pic {
    width: 120px;
    /* ปรับความกว้างตรงนี้ */
    height: 160px;
    /* ปรับความสูงตรงนี้ (ให้สัมพันธ์กับความกว้าง) */
    object-fit: cover;
    /* ทำให้รูปไม่เบี้ยว */
    border: 2px solid #ccc;
    border-radius: 8px;
    /* ลบมุมให้มนนิดๆ ดูกลมกลืน */
    margin-bottom: 15px;
}